{% extends 'baseuser.html' %}

{% block title %}
Help
{% endblock %}

{% block link %}
<li class="nav-item pr-3">
    <a class="nav-link " href="{{ url_for('Home') }}">Home</a>
</li>
<li class="nav-item pr-3">
    <a class="nav-link " href="{{ url_for('About') }}">About</a>
</li>
<li class="nav-item pr-3">
    <a class="nav-link" href="{{ url_for( 'Contact_Us' ) }}">Contact Us</a>
</li>
<li class="nav-item pr-3">
    <a class="nav-link active" href="{{ url_for('Help') }}">Help</a>
</li>
<li class="nav-item pr-3">
    <a class="nav-link" href="/history?{{ id }}">History</a>
</li>
{% endblock %}

{% block body %}
helooo
hi
{% endblock %}
